html, body {
  font-family: piscoFonte !important;
}

@font-face {
  font-family: piscoFonte;
  src: url(Ubuntu-Light.ttf);
}

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.box-simple p {
  font-size: 16px;
}

.home-carousel h1 {
  font-size: 30px !important;

}

.navbar-brand img {
  max-height: 50px;
}

#navbar {
  box-shadow: 0 0 5px #cccccc;
  z-index: 1;
}

#heading-breadcrumbs {
  background-size: 100% 100% !important;
  background-image: url(../img/texture-bw2.png) !important;
}

#heading-breadcrumbs img {
  max-height: 100px;
}

.experimente-gratis {
  color: white !important;
  border: none !important;
  background: #4ABA58 !important;
  float: right;
  padding: 5px 15px;
  margin: 7px 0;
  font-weight: bold;
  letter-spacing: 0.08em;
  animation: wiggle 2.5s infinite;
}

.solucoes-txt {
  width: 100%;
  text-align: center;
  font-size: 22px;
  margin-bottom: 60px !important;
  max-width: 600px;
  margin-top: -30px !important;
  margin: auto;
}

.modal .modal-body {
  min-height: 260px !important;
}

.n0800 {
  float: right;
  padding: 10px;
  font-size: 17px;
  margin-right: 95px;
  color: rgba(0, 0, 0, .5);
  font-weight: bold !important;
}

.bar.background-pentagon {
  background-size: auto 100% !important;
  border-top: 0 !important;
}

.home-carousel {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}

.home-carousel * {
  color: #467fbf !important;
}

.home-carousel .dark-mask {
  opacity: 0 !important;
}

#top {
  background-color: white !important;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: 5px 0 !important;
}

.background-image-fixed-2 {
  height: 300px;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
 80% { transform: rotate(0deg); }
 85% { transform: rotate(2deg); }
 88% { transform: rotate(-2deg); }
 91% { transform: rotate(2deg); }
 94% { transform: rotate(-2deg); }
100% { transform: rotate(0deg); }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.flex .box-simple {
  align-self: center;
  max-width: 500px;
  margin: 30px auto auto auto;
  padding: 0 40px;
}

@media (max-width: 1200px) {
  .flex .box-simple {
    max-width: 400px;
  }
}

@media (max-width: 1000px) {
  .flex .box-simple {
    max-width: 300px;
  }
}

.dropdown-menu img {
  max-width: 60px;
}

.flex .box-simple:first-child,
.flex .box-simple:nth-child(2) {
  margin-top: 0 !important;
}

.veja-mais-container img {
  max-height: 100px;
  margin: 0 20px;
  transition: .3s;
}
.veja-mais-container img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.home-carousel p {
  text-transform: none !important;
  font-size: 25px;
}

.social-media-footer div {
  display: inline-block;
  border-radius: 100%;
  width: 39px;
  text-align: center;
  margin: 0 8px;
  transition: .3s;
}

.social-media-footer img {
  max-height: 50px;
  transition: .3s;
}

.features-container {
  background-image: url(bg.png) !important;
  background-size: 60% 100% !important;
  background-position: left, right !important;
}

#solucoes img {
  max-width: 100%;
  margin-bottom: 80px;
}

.usrlgn {
  max-width: 20px !important;
}

.box-simple .icon {
  border: none !important;
  height: 200px;
  width: 200px;
}

.bar.background-white {
  margin-top: -40px !important;
}

.box-simple .icon img {
  max-height: 200px;
  margin: auto;
  margin-left: -5px;
}

.social-media-footer a {
  color: #eee !important;
  text-decoration: none;
  font-size: 35px;
}

.logo-footer {
  max-height: 60px;
  filter: contrast(100%)
}

.footer-submenu img {
  margin-bottom: 20px;
}

.footer-submenu li {
  padding: 5px 0 !important;
}

.ntel {
  max-width: 30px;
  margin-right: 5px;
  float: right;
  margin-top: 8px;
}

.footer-submenu a {
  color: #eeeeee !important;
  text-decoration: none !important;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.08em;
}

.footer-submenu a:hover {
  text-decoration: underline !important;
}

.office-hours {
  text-align: center;
  padding: 30px;
  background-color: rgba(255,255,255,.1);
  font-size: 15px;
  margin-bottom: 28px;
  border-radius: 3px;
  color: #eee;
  font-weight: bold;
}

.titulo-container img {
  max-width: 70px;
}

.mais-v {
  background-color: red;
}

.ligamos {
  background-color: rgba(0,0,0,0);
  border: none;
  color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px 0 black;
  float: right;
  margin-top: 7px;
  margin-right: 120px;
  margin-left: 10px;
  text-transform: none;
}

iframe {
  border: none;
}

#blog-listing-medium {
  border-right: 1px solid rgba(0, 0, 0, .1);
}

#footer {
  background-color: rgba(0, 0, 0, .8) !important;
}

.navbar .dropdown-menu {
  width: 309px;
  margin-right: -193px !important;
  background-color: rgba(70, 127, 191, 0);
}

.newsletter-body {
  padding: 23px 16px !important;
  background-color: rgb(70,127,191);
  border-radius: 3px;
  color: white;
}

.mailto {
  font-size: 16px !important;
}

.navbar .dropdown-menu li {
  display: inline-block !important;
  padding: 20px 0 !important;
  border-bottom: none !important;
}

.navbar .dropdown-menu li a {
  font-weight: bold !important;
  color: white !important;
}

.navbar .dropdown-menu li:hover a {
  left: 0px !important;
}

#copyright {
  padding: 20px 0 !important;
}

.planos-container {
  margin-bottom: 50px;
}

.plano-box .container-inside {
  border-radius: 10px;
  color: white;
  padding: 20px;
}

.plano-box hr {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.plano-box .icon-container {
  text-align: center;
}

.plano-box .usr-text-container {
  text-align: center;
}

.plano-box .icon-container img {
  max-height: 50px;
}

.plano-box .valor-container {
  text-align: center;
}

.plano-box .select-container {
  text-align: center;
  margin: 20px 0;
}

.btn-desconto {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
}

.btn-desconto:hover {
  color: white;
}

.plano-box .valor-container .valor {
  font-size: 33px;
}

.plano-box .nome-container {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.plano-box pre {
  background: none;
  font-family: piscoFonte;
  color: white;
  border: none;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  padding: 0;
  margin: 0;
  font-size: 15px;
  word-break: break-word !important;
}

.plano-box:first-child .container-inside {
  background: rgba(0,100,115,1);
  background: -moz-linear-gradient(45deg, rgba(0,100,115,1) 0%, rgba(0,100,115,1) 24%, rgba(16,121,130,1) 39%, rgba(69,191,180,1) 90%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,100,115,1)), color-stop(24%, rgba(0,100,115,1)), color-stop(39%, rgba(16,121,130,1)), color-stop(90%, rgba(69,191,180,1)));
  background: -webkit-linear-gradient(45deg, rgba(0,100,115,1) 0%, rgba(0,100,115,1) 24%, rgba(16,121,130,1) 39%, rgba(69,191,180,1) 90%);
  background: -o-linear-gradient(45deg, rgba(0,100,115,1) 0%, rgba(0,100,115,1) 24%, rgba(16,121,130,1) 39%, rgba(69,191,180,1) 90%);
  background: -ms-linear-gradient(45deg, rgba(0,100,115,1) 0%, rgba(0,100,115,1) 24%, rgba(16,121,130,1) 39%, rgba(69,191,180,1) 90%);
  background: linear-gradient(45deg, rgba(0,100,115,1) 0%, rgba(0,100,115,1) 24%, rgba(16,121,130,1) 39%, rgba(69,191,180,1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006473', endColorstr='#45bfb4', GradientType=1 );
}

.plano-box:nth-child(2) .container-inside {
  background: rgba(241,108,149,1);
  background: -moz-linear-gradient(45deg, rgba(241,108,149,1) 0%, rgba(241,108,149,1) 24%, rgba(243,125,144,1) 39%, rgba(251,184,129,1) 90%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(241,108,149,1)), color-stop(24%, rgba(241,108,149,1)), color-stop(39%, rgba(243,125,144,1)), color-stop(90%, rgba(251,184,129,1)));
  background: -webkit-linear-gradient(45deg, rgba(241,108,149,1) 0%, rgba(241,108,149,1) 24%, rgba(243,125,144,1) 39%, rgba(251,184,129,1) 90%);
  background: -o-linear-gradient(45deg, rgba(241,108,149,1) 0%, rgba(241,108,149,1) 24%, rgba(243,125,144,1) 39%, rgba(251,184,129,1) 90%);
  background: -ms-linear-gradient(45deg, rgba(241,108,149,1) 0%, rgba(241,108,149,1) 24%, rgba(243,125,144,1) 39%, rgba(251,184,129,1) 90%);
  background: linear-gradient(45deg, rgba(241,108,149,1) 0%, rgba(241,108,149,1) 24%, rgba(243,125,144,1) 39%, rgba(251,184,129,1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16c95', endColorstr='#fbb881', GradientType=1 );
}

.plano-box:nth-child(3) .container-inside {
  background: rgba(45,88,167,1);
  background: -moz-linear-gradient(45deg, rgba(45,88,167,1) 0%, rgba(45,88,167,1) 24%, rgba(94,95,163,1) 39%, rgba(234,115,152,1) 82%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(45,88,167,1)), color-stop(24%, rgba(45,88,167,1)), color-stop(39%, rgba(94,95,163,1)), color-stop(82%, rgba(234,115,152,1)));
  background: -webkit-linear-gradient(45deg, rgba(45,88,167,1) 0%, rgba(45,88,167,1) 24%, rgba(94,95,163,1) 39%, rgba(234,115,152,1) 82%);
  background: -o-linear-gradient(45deg, rgba(45,88,167,1) 0%, rgba(45,88,167,1) 24%, rgba(94,95,163,1) 39%, rgba(234,115,152,1) 82%);
  background: -ms-linear-gradient(45deg, rgba(45,88,167,1) 0%, rgba(45,88,167,1) 24%, rgba(94,95,163,1) 39%, rgba(234,115,152,1) 82%);
  background: linear-gradient(45deg, rgba(45,88,167,1) 0%, rgba(45,88,167,1) 24%, rgba(94,95,163,1) 39%, rgba(234,115,152,1) 82%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d58a7', endColorstr='#ea7398', GradientType=1 );
}

.plano-box:nth-child(4) .container-inside {
  background: rgba(187,145,89,1);
  background: -moz-linear-gradient(45deg, rgba(187,145,89,1) 0%, rgba(187,145,89,1) 37%, rgba(187,145,89,1) 42%, rgba(212,170,105,1) 56%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(187,145,89,1)), color-stop(37%, rgba(187,145,89,1)), color-stop(42%, rgba(187,145,89,1)), color-stop(56%, rgba(212,170,105,1)));
  background: -webkit-linear-gradient(45deg, rgba(187,145,89,1) 0%, rgba(187,145,89,1) 37%, rgba(187,145,89,1) 42%, rgba(212,170,105,1) 56%);
  background: -o-linear-gradient(45deg, rgba(187,145,89,1) 0%, rgba(187,145,89,1) 37%, rgba(187,145,89,1) 42%, rgba(212,170,105,1) 56%);
  background: -ms-linear-gradient(45deg, rgba(187,145,89,1) 0%, rgba(187,145,89,1) 37%, rgba(187,145,89,1) 42%, rgba(212,170,105,1) 56%);
  background: linear-gradient(45deg, rgba(187,145,89,1) 0%, rgba(187,145,89,1) 37%, rgba(187,145,89,1) 42%, rgba(212,170,105,1) 56%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb9159', endColorstr='#d4aa69', GradientType=1 );
}

.btns-container {
  text-align: center;
}

.btns-container .btn:focus,
.btns-container .btn {
  color: white !important;
  background: rgba(0, 0, 0, 0) !important;
  border: 3px solid white;
}

.btns-container .btn:hover {
  background-color: white !important;
  color: rgba(100, 100, 100, 1) !important;
}

.n_usuarios {
  max-width: 100px;
  margin: auto;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0) !important;
  border: 3px solid white;
  color: white;
  text-align: center;
  outline: none !important;
}

.n_usuarios:focus {
  outline: none !important;
  border-color: white !important;
}

.cart-resum {
  font-size: 16px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 3px;
}

.cart-resum b.dest {
  font-size: 19px;
  font-weight: bold;
  color: black;
}

.alertable {
	position: fixed;
	z-index: 9999;
	top: 38vh;
	left: calc(50% - 150px);
	width: 300px;
	background: white;
	border-radius: 4px;
	padding: 20px;
	margin: 0 auto;
}

  /* Overlay */
.alertable-overlay {
	position: fixed;
	z-index: 9998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, .5);
}

  /* Message */
.alertable-message {
	margin-bottom: 20px;
}

  /* Prompt */
.alertable-prompt {
	margin-bottom: 20px;
}

.alertable-input {
	width: 100%;
	border-radius: 4px;
	box-shadow: none;
	border: solid 1px #ccc;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	padding: 6px 12px;
	display: block;
	box-sizing: border-box;
	margin-bottom: 10px;
}

/* Button group */
.alertable-buttons {
	text-align: right;
}

/* OK button */
.alertable-ok {
	background: #09d;
	border: solid 1px #09d;
	font-family: inherit;
	font-size: inherit;
	color: white;
	border-radius: 4px;
	padding: 6px 12px;
	margin-left: 4px;
	cursor: pointer;
}

.alertable-ok:hover,
.alertable-ok:focus,
.alertable-ok:active {
	background-color: #08c;
}

/* Cancel button */
.alertable-cancel {
	border: solid 1px #ddd;
	background: white;
	font-family: inherit;
	font-size: inherit;
	color: #888;
	border-radius: 4px;
	padding: 6px 12px;
	margin-left: 4px;
	cursor: pointer;
}

.alertable-cancel:hover,
.alertable-cancel:focus,
.alertable-cancel:active {
	background-color: #f2f2f2;
}

.lib, .whol {
  padding: 15px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-top: 0;
}

.main-desc-container {
  border-bottom: none;
}

.lib {
  border-right: none;
  border-radius: 3px 0 0 3px;
  border-left: none;
}

.whol {
  border-radius: 0 3px 3px 0;
  border-right: none;
}

.arrow_box {
	position: relative;
  margin-bottom: 13px;
}

.arrow_box:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-width: 13px;
	margin-left: -13px;
}

.arrow_box.arr1 {
  background-color: rgba(69,191,180,1);
}

.arrow_box.arr1:after {
  border-top-color: rgba(69,191,180,1);
}

.arrow_box.arr2 {
  background-color: rgba(251,184,129,1);
}

.arrow_box.arr2:after {
  border-top-color: rgba(251,184,129,1);
}

.arrow_box.arr3 {
  background-color: rgba(234,115,152,1);
}

.arrow_box.arr3:after {
  border-top-color: rgba(234,115,152,1);
}

.arrow_box.arr4 {
  background-color: rgba(212,170,105,1);
}

.arrow_box.arr4:after {
  border-top-color: rgba(212,170,105,1);
}

.selo-container {
  position: relative;
}

.selo-container img {
  max-width: 90px;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 5px;
}

.testimonials {
  position: relative;
}

.test-container .video {
  position: absolute;
  right: 10%;
  top: 110px;
}